.bgStyle {
  position: fixed;
  visibility: visible;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: rgba(99, 99, 99, 0.95);
}
.iframeHolderStyle {
  position: fixed;
  
  width: 100%;
  height: 100%;

  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.iframeStyle {

  margin: 0px;
  padding: 0px;
  pointer-events: auto;
  border: 0px solid white;
  outline: #ffffff solid 4px;
  background-color: black;
}
